/local.properties
/.idea/caches
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml
.gradle
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
gradle.properties
/.idea/workspace.xml
.DS_Store
*/build
/captures
.lock
*.bin
*.class
library/build
.externalNativeBuild
/.idea/libraries
/.gradle/4.10.1/fileHashes
/.idea
/.gradle/4.10.1/fileChanges
/.gradle/4.10.1/javaCompile
/.gradle/4.10.1/taskHistory
/.gradle/buildOutputCleanup
/.gradle/4.10.1/fileContent
/CocosBcxSdk.iml
/app/app.iml
/app/build
/bcx_sdk/build
/bcx_sdk/libray_base.iml
/build
